/*
  black: rgb(0, 23, 50); #001732;
  turquise: rgb(202, 236, 239);


	font-family: 'Darker Grotesque', sans-serif;
	font-family:'Courier New', Courier, monospace;
*/

/* # Generic */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    padding: 16px;
    font-family: 'Darker Grotesque', sans-serif;
    line-height: 1;
    color: rgb(0, 23, 50);
    background-color: rgb(202, 236, 239);
  }
  
  .game-container {
    width: calc((48px * 9) + 4px);
  }
  
  /* # Game Panel */
  
  h1 {
    font-size: 40px;
  }
  
  .score {
    display: flex;
    justify-content: space-between;
    font-size: 32px;
  }
  
  /* # Game grid */
  
  .game-board {
    border: 2px solid rgb(0, 23, 50);
    position: relative;
  }
  
  .grid {
    width: calc(48px * 9); /* 👈 change multiplier based on grid row count */
    height: calc(48px * 9); /*👈 change multiplier based on game column count */
    display: flex;
    flex-wrap: wrap;
  }
  
  .cell {
    width: 48px;
    height: 48px;
    cursor: pointer;
    outline: 1px dashed #0441a3;
    background-position: center;
    background-size: contain;
  }

  /*images*/
  .luke {
    background-image: url('./images/luke-walk-right.png');
  }
  .lukeL{
    background-image: url('./images/luke-walk-left.png') ;
  }
  .vader{
    background-image: url('./images/vader.png');
  }
  .bridge {
    outline: none;
    background-image: url('./images/bridge.png');
  }
  .glass {
    background-image: url('./images/glass.png');
  }
  .space {
    outline: none;
    background-image: url('./images/space.png');
  }
  .sword {
    background-image: url('./images/sword.png');
  }
  .floor {
    outline: none;
    background-image: url('./images/floor.png');
  }
  .falcon {
    background-image: url('./images/falcon.png');
  }
  
  .bridge.luke{
    background-image: url('./images/luke-walk1.gif'), url('./images/bridge.png') ;
  }
.floor.luke {
  background-image: url('./images/luke-walk1.gif'), url('./images/floor.png') ;
}
.space.luke{
  background-image: url('./images/luke-walk1.gif'), url('./images/glass.png'),url('./images/space.png');
}
.space.glass{
  background-image: url('./images/glass.png'), url('./images/space.png');
}
.floor.sword{
  background-image: url('./images/sword.png'), url('./images/floor.png');
}
.bridge.vader{
  background-image: url('./images/vader.png'), url('./images/bridge.png');
} 

  .time-up,
  .luke-arrived {
    background-image: url('./images/luke-victory.gif');
  }
  .luke-died {
    background-image:url('./images/luke-dead.png'), url('./images/vader-dead.png'), url('./images/bridge.png');
  }
  /*
  .luke-hit {
    background-image: url('./images/luke-hit.png');
  }
  .luke-drifted {
    background-image: url('./images/luke-drifted.png');
  }

*/
  
  /* # Game over */
  
  .end-game-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a91b1b97;

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
  }
  
  .win {
    background-color: rgba(23, 113, 18, 0.7);
  }
  
  .end-game-text {
    font-size: 60px;
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    color: rgb(202, 236, 239);
    text-shadow:0 0 7px rgba(126, 245, 254, 0.778);
  }

  .end-game-scene{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .vader-scene{
    background-image:  url('./scenes/father.png'), url('./scenes/luke-shocked1.png');
  }

  /*
  .falcon-scene {
    create a gif falcon starting off
  }
  */
  
  .btn {
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    padding: 6px 20px 8px 20px;
    cursor: pointer;
    text-transform: uppercase;
    
    outline: 2px solid rgb(202, 236, 239);
    box-shadow: 0 0 10px rgba(126, 245, 254, 0.557), inset 0 0 10px rgba(126, 245, 254, 0.338);
    height: 1cm;
    width: 4.5cm;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: rgb(202, 236, 239);
  }
  
  /* # Utilities */
  
  .hidden {
    display: none;
  }
  